body {
    width: 100%;
    height: 100%;
    background: white;
    margin: 0;
}

header {
    height: 7vh;
    display: flex;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    line-height: 29px;
}

h1 {
    margin: auto 20px;
}

.start-page {
    width: 100%;
    height: 86vh;
    min-height: 460px;
    background: #FFA8B7;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
}

.wrapper-start-page {
    margin: auto;
  
}

section {
    margin: 0;
}

.offer {
    width: 685px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 112.5%;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.08),
    5px 4px 0 rgba(0, 0, 0, 0.11);
    margin: auto;
}

.offer-wrapper {
    padding: 30px 0;
}

.window {
    display: flow-root;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 380px;
    background: #FFFFFF;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    transition: all .5s ease-out;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 20%),
    2px 2px 2px rgb(0 0 0 / 20%);
}

input::placeholder {
    font-family: 'Istok Web', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #696969;
}

.input:focus {
    background: #fff5ed;
    border: 1px solid #ffffff;
}

.input:hover {
    box-shadow: 1px 1px 1px rgb(0 0 0 / 15%),
    2px 2px 2px rgb(0 0 0 / 15%);
}

input {
    display: block;
}

label {
    display: block;
}

#minValue {
    width: 280px;
    height: 42px;
    border-radius: 15px;
    border: 1px solid #FFA8B7;
    font-size: 12px;
    text-align: center;
}

.min_num {
    width: 209px;
    height: 42px;
    margin-left: 18.5%;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #000000;
    text-align: center;
}

#maxValue {
    width: 280px;
    height: 42px;
    border-radius: 15px;
    border: 1px solid #FFA8B7;
    font-size: 12px;
    text-align: center;
}

.max_num {
    width: 209px;
    height: 42px;
    margin-left: 18.5%;
    margin-top: 6%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #000000;
}

#attempts {
    width: 280px;
    height: 42px;
    border-radius: 15px;
    border: 1px solid #FFA8B7;
    font-size: 12px;
    text-align: center;
}

.attempts_num {
    width: 213px;
    height: 42px;
    margin-left: 18.5%;
    margin-top: 6%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #000000;
}


.button-start-wrapper{
    padding-top: 40px;
}

#btn-start:hover {
    background: rgba(0, 0, 0, 0);
    color: #CF6BA9;
    box-shadow: 0 0 2px 0 #CF6BA9 inset,
    0 0 3px 1px #CF6BA9;
}

#btn-start:active {
    box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.18) inset;
}

.instruction-wrapper {
    display: flex;
    width: 100%;
}

.img-question {
    margin-top: 4%;
}

.question {
    width: 35px;
    height: 15px;
    margin-left: 91.5%;
}

.instruction {
    display: none;
    width: 320px;
    background: #ffffff;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -20%);
    box-shadow: 0 5px 10px 2px rgb(34 60 80 / 20%);
    padding: 20px;
    border-radius: 5px;
    z-index: 999;
}

.instruction p {
    text-align: justify;
    line-height: 25px;
    font-family: sans-serif;
}

.game-page {
    display: none;
    flex-direction: column;
}

header {
    height: 7vh;
    background: #FFFFFF;
}

.fireworks-and-game-block {
    margin: 0 auto;
    display: flex;
}

.game-page-block {
    height: 86vh;
    background: #FFA8B7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-block {
    display: block;
    width: 595px;
    height: 540px;
    padding-top: 20px;
    box-sizing: border-box;
}

.game-page-window {
    width: 440px;
    height: 290px;
    background: #FFFFFF;
    border-radius: 15px;
    text-align: center;
    margin: 20px auto 0;
    padding: 15px;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 20%),
    2px 2px 2px rgb(0 0 0 / 20%);
}

.img {
    align-items: center;
    justify-content: center;
    display: none;
    transition: all .5s ease-out;
}

img {
    width: 237px;
    height: 442px;
}

h2 {
    color: #FFFFFF;
    margin: 0;
    padding-top: 10px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #000000;
}

.greetings {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 28px;
    width: 490px;
    margin: 0 auto;
    line-height: 41px;
    text-align: center;
    text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.08),
    3px 2px 0 rgba(0, 0, 0, 0.11);
    word-wrap: break-word;
}

.total-number-of-attempts {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 30px;
    width: 490px;
    margin: 0 auto;
    line-height: 41px;
    text-align: center;
    word-wrap: break-word;
}

.field-for-userValue {
    margin-left: 5%;
    width: 326px;
}

#userValue {
    width: 320px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #FFA8B7;
    margin: 30px 35px 30px;
    font-size: 20px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px 46px;
}

.btn-generate {
    width: 150px;
    height: 62px;
    border: none;
    background: -webkit-linear-gradient(140.16deg, #1DCA43 39.86%, rgba(158, 232, 210, 0) 150%);
    border-radius: 40px;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1.8px 1.8px 0 0 rgba(0,0,0,0.15);
}

.btn-generate:hover {
    background: rgba(0, 0, 0, 0);
    color: #36DB5A;
    box-shadow: 0 0 2px 0 #36DB5A inset,
    0 0 3px 1px #36DB5A;

}

.btn-generate:active {
    box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.18) inset;
}

.btn-generate:disabled {
    background: #EDEBEB;
}
#btn-start:disabled{
    background: #EDEBEB;
}

.btn-exit {
    width: 150px;
    height: 62px;
    border: 1px solid;
    border-color: #EB676F;
    background-color: white;
    border-radius: 40px;
    color: #EB676F;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1.8px 1.8px 0 0 rgba(0,0,0,0.15);
}

.btn-exit:hover {
    background: #EB676F;
    color: #ffffff;
    box-shadow: inset 0 0 0 3px #EB676F;
}

.btn-exit:active {
    box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.18) inset;
}

.error{
    height: 20px;
    padding-top: 10px;
}

.out {
    font-size: 22px;
    font-family: sans-serif;
    width: 95%;
    max-width: 335px;
    margin: 10px auto;
}

.remaining-attempts {
    font-size: 22px;
    font-family: sans-serif;
    width: 95%;
    max-width: 335px;
    margin: 10px auto;
}

.button {
    display: flex;
    justify-content: space-around;
    margin: 20px 46px;
}

#btn-start {
    width: 209px;
    height: 62px;
    background: -webkit-linear-gradient(140.16deg, #4F5FE2 46.88%, #FFFFFF 112.25%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .6),
    23px 0 20px -23px rgba(0, 0, 0, .6),
    inset 0 0 40px rgba(0, 0, 0, .1);
    border-radius: 40px;
    border: none;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
}



footer {
    height: 7vh;
}